* {
    text-align: center;
}

a {
    text-decoration: none;
    color: #000000
}

a:hover:not(.MH1) {
    text-shadow: 0 1px 10px rgba(184, 255, 190, 100);
}

p {
    font-size: 20px;
}

.p1 {}

.navbar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 20px 0;
}
