* {
    text-align: center;
    background-color: rgba(255, 249, 232);
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
    color: #000000
}

a:hover:not(.MH1) {
    text-shadow: 0 1px 10px rgba(255, 247, 133, 100);
}

p {
    font-size: 20px;
}

.navbar {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 10px 0;
}

.nlink {
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 10px;
    height: 40px;
    /*not done with this styling at all*/
    background-color: rgba(196, 196, 185, 50);
}
