* {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

a {
    text-decoration: none;
    color: #000000
}

a:hover:not(.MH1) {
    color: rebeccapurple
}

p {
    font-size: 20px;
}

h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 70px;
}

h2 {
    font-size: 30px;
}

img:not(#myimage) {
    border-radius: 50%;

}
.rosaparks{
    filter: blur(0px) !important;
    cursor: zoom-in;
    -webkit-transition-duration: 0.3s;
}
img:not(.fairmont) {
    filter: blur(4px);

}

img:hover:not(.fairmont) {
    filter: blur(0);
    box-shadow: 0 1px 20px blue;
   transform: scale(1.2);

}
/*jquerystuff*/
.large {
    width: 175px;
    height: 175px;
    position: absolute;
    border-radius: 100%;
    display: none;
}

.small {
    display: block;
}

.pad {
    padding: 15px;
}
/*end of jquery stuff*/
.Gheader {
    text-transform: uppercase;
    text-shadow: 0 1px 10px rgba(35, 222, 54);

}

.empty {
    padding: 40px;
}

.workdiv {
    padding: 20px;
    background-color: rgba(132, 3, 252, 0.7) !important;
    border-radius: 25px;
    color: white !important;
}
.projdiv{
    border-width: thick!important;
    border-radius: 25px;
    padding: 5px;
    background-color: rgba(255, 255, 84, 0.7);
}

#h2pad {
    padding: 10px;
}

.h2fs {
    color: black;
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>🎨</text></svg>") 16 0,
        auto;
    text-decoration: none;
}
.h2fs:hover{
    color: green !important;
}
.submissions {
    cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='40' height='48' viewport='0 0 100 100' style='fill:black;font-size:24px;'><text y='50%'>✨</text></svg>") 16 0,
        auto;
}

.navbar {
    text-transform: uppercase;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 0px;
    padding: 10px 0;
    align-items: center;
    background-image: linear-gradient(to right, red, pink, purple, blue);
    border-radius: 25px;

}

.nlink {
    font-size: 18px;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 2px;
    /*not done with this styling at all*/


}

.submissions {
    color: blue;
}

.about {
    padding: 10px;
    background-color: rgba(59, 184, 31, 0.6);
    border-radius: 25px;

}

#bilingualsch {
    color: green;
}

#scroll {
    background-color: rgba(255, 255, 84, 0.7);
    border-radius: 15px;
    padding: 5px;
    color: green;
}

.ltext {
    text-align: left;
    color: white;
}

.overflow {
    height: 250;
    width: auto;
    overflow: auto;
    padding: 5px;
    border-radius: 25px;
    background-color: green;
}

.contact {
    background-color: rgba(255, 201, 242);
    color: white;
    border-radius: 25px;
    padding: 30px;
}

.writeup {
    text-transform: none;
}

.minidiv {
    background-color: mintcream !important;
    padding: 1px;
    border-radius: 25px;
}
.recent{
    background-color: rgba(255, 255, 84,0.5);
    padding: 10px;
    border-radius: 25px;
}
#bluerosa{
    color: rgba(20, 32, 255);
}
#redstreet{
    color: rgba(255, 20, 67);
}